body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
}

.vert {
    display: flex;
    flex-direction: column;
}

.hori-center {
    justify-content: center;
}

.vert-center {
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
    transition: 250ms ease-in-out;
}

a:hover {
    color: midnightblue;
}

.post ul {
    list-style-type: none;
}

header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.announcement {
    position: absolute;
    right: 2em;
}

.announcement p {
    margin: 0;
}

.title {
    font-size: 2em;
    margin: 0.5em 0.5em;
}

.nav {
    margin: 1em 1em;
    display: flex;
    align-items: flex-end;
}

.nav-item {
    font-size: 1.2em;
    margin: 0 0.5em;
}

#content {
    margin: 0em 5em;
    margin-bottom: auto;
}

.meta {
    margin: 0 0.5em;
}

.post {
    padding: 0.5em;
    margin: 0.5em 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: #000 solid 1px;
    border-radius: 1px;
}

.post-meta {
    width: 100%;
    margin: 0.5em 0;
    align-items: flex-end;
}

.post-date {
    margin: 0em 0.5em;
}

.post-title {
    font-size: 1.2em;
    margin: 0 0.5em;
}

.post-tags {
    font-style: underline;
    margin: 0em 1em;
    margin-top: 1em;
}

.post-tag {
    text-decoration: underline;
}

.post-summary {
    margin: 0em 1em;
    margin-top: 0.5em;
    font-style: italic;
}

.tags {
    margin: 1em 0;
}

.tag {
    margin: 0 0.5em;
    padding: 0.5em 1em;
    border: 1px solid #000;
}

.readmore {
    margin: 0 1em;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.footer {
    margin-top: auto;
    margin-bottom: 1em;
    min-height: 1em;
    width: 100%;
}
