red {
    color: red;
}

blue {
    color: blue;
}

body.dark blue {
    color: rgb(80, 80, 255);
}

green {
    color: green;
}

gold {
    color: gold;
}

purple {
    color: purple;
}

lgray {
    color: lightgray;
}

hide {
    color: var(--theme);
}

body.dark hide {
    color: var(--theme);
}

mark {
    background: #FFF176;
}