.tooltip {
    position: relative;
    border-bottom: 1px solid black;
    transition: all 0.2s ease;
}

.tooltip[hovered] {
    border-bottom-width: 2px;
}

body.dark .tooltip {
    border-bottom: 1px solid var(--secondary);
}

body.dark .tooltip[hovered] {
    border-bottom-width: 2px;
}

.tooltip > .tooltip-text {
    padding: 0.2em;
    width: max-content;
    /* height: 2em; */
    position: absolute;
    left: 0%;
    bottom: 120%;
    color: #000;
    text-align: center;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.tooltip[hovered] > .tooltip-text {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-0.5em);
    z-index: 999;
}

body.dark .tooltip > .tooltip-text {
    border: 1px solid #fff;
    background-color: var(--secondary);
    color: #112;
}

.tooltip > .tooltip-text {
    position: fixed;
    bottom: unset;
}