.tooltip {
    position: relative;
    border-bottom: 1px solid black;
}

.tooltip[hovered] {
    border-bottom-width: 2px;
}

body.dark .tooltip {
    border-bottom: 1px solid var(--secondary);
}

body.dark .tooltip[hovered] {
    border-bottom-width: 2px;
}

body.dark .tooltip[style*="color: blue"] {
    border-color: rgb(80, 80, 255) !important;
}

.tooltip > .tooltip-text {
    padding: 0.2em;
    width: max-content;
    position: absolute;
    left: 0%;
    bottom: 120%;
    color: #000;
    text-align: center;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.tooltip[hovered] > .tooltip-text {
    opacity: 1;
    pointer-events: auto;
}

body.dark .tooltip > .tooltip-text {
    border: 1px solid #fff;
    background-color: var(--secondary);
    color: #112;
}