{{ define "main" }}
{{ $base := .Site.BaseURL }}
<ul class="vert">
    {{ range first .Site.Params.showPostCount (.Site.RegularPages.ByPublishDate.Reverse) }}
    {{ if not .Params.notShowInHomePage }}
    <li class="post vert">
        <div class="post-meta hori">
            <a href="{{ .Permalink }}"><span class="post-title">{{ .Title }}</span></a>
            <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
        </div>
        <span class="post-summary">{{ .Summary }}</span>
        <a class="readmore" href="{{ .Permalink }}">Read more</a>
        <div class="post-tags">
            Tags:
            {{ range .Params.tags }}
            <a href="{{ $base }}tags/{{ . }}"><span class="post-tag">#{{ . }}</span></a>
            {{ end }}
        </div>
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}