<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hyno">
    {{ if .IsPage }}
    <meta name="description" content="{{ .Summary }}">
    {{ end }}
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/lib/SmoothScroll.js"></script>
    <title>{{ if .IsPage }} {{ .Title }} | {{ end }}{{ .Site.Title }}</title>
</head>