<header id="header" class="horizontal">
    <div class="nav">
        <a href="{{ .Site.BaseURL }}">
            <div id="title">
                <span class="title">{{ .Site.Title }}</span>
            </div>
        </a>
        <div class="nav-items">
            {{ range .Site.Params.navbar }}
            <a class="nav-item" href="{{ .url }}">{{ .name }}</a>
            {{ end }}
        </div>
        <div class="announcement">
            <a href="https://chaoray.github.io/SeniorHigh-Note-Website/">
                <p>Looking for "高中筆記網站"?<br>-> Here</p>
            </a>
        </div>
    </div>
</header>
<script>SmoothScroll(document, 100, 12);</script>
